<% if(typeof(error) !== 'undefined' && error == "badlog"){ %>
    <div class="errorLogin messageTop">
        <%= __('You are mistaken in your login name or password !!') %>
    </div>
<% }else if(typeof(error) !== 'undefined' && error == "notActive"){ %>
    <div class="errorLogin messageTop">
        <%= __('You have not activated your account via the email sent !!') %>
    </div>
<% }else if(typeof badmail  != "undefined" && badmail == "pseudo"){ %>
  <div class="errorLogin messageTop">
    <%= __('No account with this login !!') %>
  </div>
<% } %>
<h1 class="title-header"><%= __('Sign in:') %></h1>
<div class="central">
	<div class="block-register" style="width:500px;">
		<form class="login" action="/ApiAuth" method="post">
		    <div>
		        <label class="register-min-title"><%= __('Login:') %></label>
		        <input class="form-control" type="text" name="pseudo"/>
		    </div>
		    <div>
		        <label class="register-min-title"><%= __('Password:') %></label>
		        <input class="form-control" type="password" name="password"/>
		    </div>
		    <div>
		        <button class="btn-hp hvr-bounce-to-bottom" type="submit" style="margin-top:10px;"><%= __('Log In') %></button>
		    </div>
		</form>
	</div>
</div>
